<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
    <img src="/src/app/img/albert.png" width="70" height="70" class="d-inline-block align-top" alt="">
    <h1 class="my-0 mr-md-auto font-weight-600 text-light">IQuiz</h1>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-3 font-weight-bold text-light" routerLink="/">Главная</a>
      <a class="p-3 font-weight-bold text-light" routerLink="/category">Категории</a>
      <a class="p-3 font-weight-bold text-light" routerLink="/literature">Материалы</a>
      <a class="p-3 font-weight-bold text-light" routerLink="/aboutUs">О проекте</a>
    </nav>
    <button class="btn btn-outline-light" [routerLink]="['/signIn']">Войти</button>
  </div>
</header>


