<app-header></app-header>

<main role="main">

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Категории тестов</h1>
  </div>
  <div class="container">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Программирование</h2>
        <p class="lead">"Сначала учите науку программирования и всю теорию. Далее выработаете свой программистский
          стиль. Затем забудьте все и просто программируйте."
        </p>
        <button type="button" class="btn btn-primary">Перейти к тестам</button>
        <button type="button" class="btn btn-primary">Перейти к материалам</button>
      </div>
      <div class="col-md-5">
        <img src="/src/app/img/prog.jpg" width="445" height="300" alt="#">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Экономика</h2>
        <p class="lead">"Незнание экономических законов не освобождает от ответственности."</p>
        <button type="button" class="btn btn-primary">Перейти к тестам</button>
        <button type="button" class="btn btn-primary">Перейти к материалам</button>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/src/app/img/economy.jpg" width="445" height="300" alt="#">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Менеджмент</h2>
        <p class="lead">"Компьютер не делает из плохого менеджера хорошего. Он быстрее делает хорошего менеджера лучше,
          а плохого - хуже."</p>
        <button type="button" class="btn btn-primary">Перейти к тестам</button>
        <button type="button" class="btn btn-primary">Перейти к материалам</button>
      </div>
      <div class="col-md-5">
        <img src="/src/app/img/management.jpg" width="445" height="300" alt="#">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">История</h2>
        <p class="lead">"Уроки истории заключаются в том, что люди ничего не извлекают из уроков истории."</p>
        <button type="button" class="btn btn-primary">Перейти к тестам</button>
        <button type="button" class="btn btn-primary">Перейти к материалам</button>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/src/app/img/history.jpg" width="445" height="300" alt="#">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Политология</h2>
        <p class="lead">"История – это политика, которую уже нельзя исправить. Политика – это история, которую еще можно
          исправить."</p>
        <button type="button" class="btn btn-primary">Перейти к тестам</button>
        <button type="button" class="btn btn-primary">Перейти к материалам</button>
      </div>
      <div class="col-md-5">
        <img src="/src/app/img/polit.jpg" width="445" height="300" alt="#">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Социология</h2>
        <p class="lead">"Изучая человека, можно очень много узнать об обществе, изучая общество, нельзя изучить
          человека."</p>
        <button type="button" class="btn btn-primary">Перейти к тестам</button>
        <button type="button" class="btn btn-primary">Перейти к материалам</button>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/src/app/img/sociology.jpg" width="445" height="300" alt="#">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Анлийский язык</h2>
        <p class="lead">"Язык — это часть нашего организма и не менее сложная, чем сам этот организм."</p>
        <button type="button" class="btn btn-primary">Перейти к тестам</button>
        <button type="button" class="btn btn-primary">Перейти к материалам</button>
      </div>
      <div class="col-md-5">
        <img src="/src/app/img/english.jpg" width="445" height="300" alt="#">
      </div>
    </div>


    <hr class="featurette-divider">

  </div>
</main>

<app-footer></app-footer>



