<app-header></app-header>
<h4>Работа с данными преподавателей</h4>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Фамилия</th>
    <th scope="col">Имя</th>
    <th scope="col">Отчество</th>
    <th scope="col">Логин</th>
    <th scope="col">Email</th>
    <th scope="col">Удалить</th>
    <th scope="col">Изменить</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <button type="button" class="btn btn-danger" (click)="_deleteBillingAccount(billingAccount.id)">Удалить</button>
    </td>
    <td>
      <button type="button" class="btn btn-secondary" (click)="_openModal(template, profs)">Изменить</button>
    </td>
  </tr>

  </tbody>
</table>

<div class="button">
  <button type="button" class="btn btn-dark" (click)="_updateBillingAccounts()">Обновить</button>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
          (click)="_openModal(template)">
    Добавить преподавателя
  </button>
  <button type="button" class="btn btn-success" [routerLink]="['/adminMenu']">В меню</button>
</div>

<!-- Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit" : ""}}  Добавить преподавателя</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label>Фамилия</label>
      <input class="form-control" name="category" [(ngModel)]="editableBa.surname" #category="ngModel" required/>
      <div [hidden]="category.valid || category.untouched" class="alert alert-danger">
        Заполните поле
      </div>
    </div>

    <div class="form-group">
      <label>Имя</label>
      <input class="form-control" name="text" [(ngModel)]="editableBa.name" #text="ngModel"
             required>
      <div [hidden]="text.valid || text.untouched" class="alert alert-danger">
        Заполните поле
      </div>
    </div>

    <div class="form-group">
      <label>Отчество</label>
      <input class="form-control" name="text" [(ngModel)]="editableBa.patronymic" #text="ngModel"
             required>
      <div [hidden]="text.valid || text.untouched" class="alert alert-danger">
        Заполните поле
      </div>
    </div>

    <div class="form-group">
      <label>Логин</label>
      <input class="form-control" name="text" [(ngModel)]="editableBa.login" #text="ngModel"
             required>
      <div [hidden]="text.valid || text.untouched" class="alert alert-danger">
        Заполните поле
      </div>
    </div>


    <div class="form-group">
      <label>Пароль</label>
      <input class="form-control" name="text" [(ngModel)]="editableBa.password" #text="ngModel"
             required>
      <div [hidden]="text.valid || text.untouched" class="alert alert-danger">
        Заполните поле
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input class="form-control" name="text" [(ngModel)]="editableBa.email" #text="ngModel"
             required>
      <div [hidden]="text.valid || text.untouched" class="alert alert-danger">
        Заполните поле
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="_addProf(surname,name, patronymic, login, password, email)"
              [disabled]="category.invalid || text.invalid ">{{editMode ? "Save" : "Добавить"}}
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Закрыть</button>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>
