
<body>

<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
    <img src="/src/app/img/albert.png" width="70" height="70" class="d-inline-block align-top" alt="">
    <h1 class="my-0 mr-md-auto font-weight-600 text-light">IQuiz</h1>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-3 font-weight-bold text-light" href="#">Главная</a>
      <a class="p-3 font-weight-bold text-light" href="#">Тесты</a>
      <a class="p-3 font-weight-bold text-light" href="#">Материалы</a>
      <a class="p-3 font-weight-bold text-light" href="#">О проекте</a>
    </nav>
    <a class="btn btn-outline-light" href="#">Войти</a>
  </div>
</header>

<main role="main">
  <div class="position-relative shadow rounded overflow-hidden p-3 p-md-5 m-md-3 text-center bg-secondary">
    <div class="col-md-5 shadow bg-white rounded p-lg-4 mx-auto my-5">
      <h1 class="display-5 font-weight-600">Сдавай зачеты вместе с IQuiz!</h1>
      <p class="lead font-weight-normal">Не бойся преподавателей и дополнительных вопросов. Готовься по материалам из проверенных источников. Сдавай зачеты онлайн.
        Большая база предметов, тестов и вопросов. Получи заветный ЗАЧЕТ вместе с нами!
      </p>
    </div>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Почему IQuiz?</h1>
  </div>
  <div class="container">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Проходи тесты и получай зачеты.</h2>
        <p class="lead">Проходи тесты, подготовленные преподователями, и получай зачет. Больше не будет никакого предвзятого отношения и дополнительных вопросов.
        </p>
      </div>
      <div class="col-md-5">
        <img src="/src/app/img/testmain.jpg" width="400" height="400" alt="#">
      </div>
    </div>

    <hr class="featurette-divider">



    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Большое количество учебных дисциплин.</h2>
        <p class="lead">Возможность проходить тесты по программированию, экономике, менеджменту, гуманитарным предметам, английскому языку и многим другим дисциплинам.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/src/app/img/category.jpg" width="400" height="400" alt="#">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Статистика пройденных тестов.</h2>
        <p class="lead">Просматривайте статистику по пройденым тестам. Результаты пройденных тестов хранятся в вашей личной истории и доступны только вам и преподователям.</p>
      </div>
      <div class="col-md-5">
        <img src="/src/app/img/stat.jpg" width="400" height="400" alt="#">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>
  <
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Вверх</a>
    </p>
    <p>&copy; IQuiz</p>
  </div>
</footer>

</body>
