<app-header></app-header>
<div class="col-md-5  p-lg-4 mx-auto my-4">
  <h1 class="aboutIQuiz">IQuiz - залог вашего зачета!</h1>
</div>

<div class="aboutIQuizText">
  <h2>Назначение сервиса тестирования IQuiz</h2>
  <p>Сервис IQuiz предназначен для тестирования студентов по широкому спектру дисциплин.</p>
  <p>На Quizful вы найдете большое количесвто тестов:
  <ul>
    <li>тесты по программированию (C++, Java, C#, PHP, Python)</li>
    <li>тесты по базам данных (SQL, MySql)</li>
    <li>тесты по веб-технологиям (HTML, CSS, JavaScript)</li>
    <li>тесты по экономике</li>
    <li>тесты по менеджменту</li>
    <li>тесты по гуманитарным и другим дисциплинам</li>
  </ul>
  <p>Цель проекта - предоставить качественный сервис, который бы не только проверял уровень имеющихся знаний, но и
    позволял студентам получить зачет.
  <p>

  <h2>Преимущества сервиса IQuiz</h2>
  <ul>
    <li>Сервис является обучающим и направлен на закрепление знаний студентов</li>
    <li>После прохождения тестов можно просмотреть свою статистику</li>
    <li>Количество категорий, тестов и вопросов постоянно увеличивается</li>
  </ul>
</div>
<app-footer></app-footer>
